//-
    Mixins for html elements 

mixin anchor(href4, title4, target4, clase4)
    //- href 
    - if(typeof href4 === "undefined" || href4 === ""){
        - href4 = "javascript:;"
    - }

    //- target
    - if(typeof target4 === "undefined" || target4 === ""){
        - target4 = "_self"
    - }

    //- title
    - if(typeof title4 === "undefined" || title4 === ""){
        - title4 = ""
    - }

    //- class
    - if(typeof clase4 === "undefined" || clase4 === ""){
        - clase4 = ""
    - }       
    a(class="#{clase4}", href="#{href4}", target="#{target4}", title="#{title4}") #{title4}