script(src="#{page.static_url}js/dist/libs/jquery/dist/jquery.min.js#{page.version}", type="text/javascript")
script(src="#{page.static_url}js/dist/libs/yosonjs/dist/yoson.js#{page.version}", type="text/javascript")
script(src="#{page.static_url}js/dist/libs/yosonjs_utils/yosonjs_utils.js#{page.version}", type="text/javascript")

//script(src="#{page.static_url}js/dist/scripts/modules/all/all.js#{page.version}", type="text/javascript")
//script(src="#{page.static_url}js/dist/scripts/modules/mimodulo/Account/Account.js#{page.version}", type="text/javascript")
//script(src="#{page.static_url}js/dist/libs/yosonjs_utils/modules.js#{page.version}", type="text/javascript")
//script(src="#{page.static_url}js/dist/libs/yosonjs_utils/appLoad.js#{page.version}", type="text/javascript")
