
script(src="#{page.static_url}js/libs/jquery/dist/jquery.min.js#{page.version}", type="text/javascript")
script(src="#{page.static_url}js/libs/utils.js#{page.version}", type="text/javascript")
script(src="#{page.static_url}js/sections/home/home.js#{page.version}", type="text/javascript")