script(type="text/javascript").
	var yOSON = {
		"module": "#{module}",
		"controller": "#{controller}",
		"action": "#{action}",
		"baseHost": "#{page.url}",
		"statHost": "#{page.static_url}",
		"eHost": "#{page.elements_url}",
		"statVers": "#{page.version}",
		"AppCore": {},
		"AppSandbox": {},
		"AppSchema": {
		"modules": {},
			"requires": {}
		},
		"tmp" : {

		}
	}

script(type="text/javascript").
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '#{page.ga}', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');



