

script(src="#{page.static_url}js/libs/jquery/dist/jquery.min.js#{page.version}", type="text/javascript")
script(src="#{page.static_url}js/libs/yoson_files/yosonjs-utils.js#{page.version}", type="text/javascript")
script(src="#{page.static_url}js/libs/yosonjs/build/yoson-min.js#{page.version}", type="text/javascript")

script(src="#{page.static_url}js/modules/all/all.js#{page.version}", type="text/javascript")
script(src="#{page.static_url}js/modules/#{module}/#{controller}/#{action}/#{action}.js#{page.version}", type="text/javascript")
script(src="#{page.static_url}js/libs/yoson_files/modules.js#{page.version}", type="text/javascript")
script(src="#{page.static_url}js/libs/yoson_files/appLoad.js#{page.version}", type="text/javascript")
