

script(src="#{page.static_url}js/dist/libs/jquery/dist/jquery.min.js#{page.version}", type="text/javascript")
script(src="#{page.static_url}js/dist/libs/yoson_files/yosonjs-utils.js#{page.version}", type="text/javascript")
script(src="#{page.static_url}js/dist/libs/yosonjs/dist/yoson.js#{page.version}", type="text/javascript")

script(src="#{page.static_url}js/dist/modules/all/all.js#{page.version}", type="text/javascript")
script(src="#{page.static_url}js/dist/modules/#{module}/#{controller}/#{action}/#{action}.js#{page.version}", type="text/javascript")
script(src="#{page.static_url}js/dist/libs/yoson_files/modules.js#{page.version}", type="text/javascript")
script(src="#{page.static_url}js/dist/libs/yoson_files/appLoad.js#{page.version}", type="text/javascript")
